<section class="feature feature-1 text-center">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 class="heading text-center">FAQ</h2>
      </div> <!-- .col-lg-12 -->
    
      <div class="col-lg-12">
        <h3 class="sub-heading">Is this safe?</h3>
        <p>We don't ask for your name, username, or real password.  We only only send SMS text
          messages upon request containing just the password hint requested, not
          the website it is for, or any other information.  Don't give us your
          real password, just a hint that only you will know.</p>
      </div>

      <div class="col-lg-12">
        <h3 class="sub-heading">Why don't I have to log in?</h3>
        <p>Your password hints are never displayed on the screen, the only way to
          extract them is by text message to your cell phone.  Likewise, to store
          a password hint you will have to confirm by text message to your phone
          that you originated the request.  This serves as a form of authentication
          instead of requiring yet one more password you're just going to forget.</p>
      </div>

      <div class="col-lg-12">
        <h3 class="sub-heading">Can I remove all my stored password hints?</h3>
        <p>Yes, click here to completely remove all data you have provided us.</p>
      </div>

      <div class="col-lg-12">
        <h3 class="sub-heading">Are SMS text messages secure?</h3>
        <p>SMS text messages, like email, are not inherently secure and can
          potentially be viewed in transit by sophisticated hackers.  Because of this
          it is important that you use hints to something only you would know
          rather than storing your actual passwords with this service.</p>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
