.navbar{
    display: block;
    overflow: hidden;
    top: 0px;
    width: 100%;
    min-height:100px;
    height:auto;
    text-decoration: none;
    border-radius: 0px;
    border: 0px solid #fff;
    z-index:1000;
}
.HeaderMain{
    height:70px;
    padding-top:12px;
}
.HeaderBkgColor{
    background: rgb(255,0,236);
    background: linear-gradient(45deg, rgba(255,0,236,1) 0%, rgba(226,60,70,1) 76%);
    opacity:0.95;
}
.FloatingSubHeaderSpacer{
    display:none;
}
.SiteLogoImage{
    display:block;
    height:80px;
    width:auto;
    margin:auto;
}
.LinkStyle{
    color:#fff;
    text-decoration: none;
    cursor:pointer;
    text-decoration: none;
}
.LinkStyle:hover{
    color:#de1a25;
    text-decoration: none;
}
