<nav class="navbar secondary-navbar -gray -large">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <!-- http://www.picturetopeople.org/p2p/text_effects_generator.p2p/transparent_text_effect -->
        <img src="assets/img/fpw-logo.svg" alt="Forgotpw" height="75" class="img-responsive">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/store">Store PW Part</a></li>
        <li><a routerLink="/retrieve">Retrieve PW Part</a></li>
        <li><a href="/#howitworks">How It Works</a></li>
        <li><a href="/#faq">FAQ</a></li>
      </ul>

    </div><!-- .navbar-collapse -->
  </div><!-- .container-fluid -->
</nav>
