<section class="footer footer-3">
  <div class="container">
    <div class="row">
      <div class="footer-about col-md-3 col-sm-3">
        <h4>About Innova</h4>
        <p>Innova is a clean and soft one-page multipurpose theme. It's uncluttered layout and fresh colour scheme will dazzle your visitors.</p>

        <p>It's responsive, it converts and it's perfect for displaying your service or work. Get your copy today!</p>
      </div> <!-- /.col-md-3  -->
      <div class="footer-social col-md-3 col-sm-3">
        <h4>We're really social</h4>
        <ul>
          <li><a href="#/"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#/"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#/"><i class="fa fa-git"></i></a></li>
          <li><a href="#/"><i class="fa fa-whatsapp"></i></a></li>
          <li><a href="#/"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#/"><i class="fa fa-digg"></i></a></li>
          <li><a href="#/"><i class="fa fa-behance"></i></a></li>

        </ul>
      </div> <!-- /.col-md-3  -->
      <div class="footer-address col-md-3 col-sm-3">
        <h4>Contact details</h4>
        <address>
        25, Lorem Lis Street, Orange
        <br>
        California, US
        <br>
        Phone: 800 123 3456
        <br>
        Fax: 800 123 3456
        <br>
        Email:
        <a class="" href="mailto:info@company.com">info@company.com</a>
        </address>
      </div> <!-- /.col-md-3  -->
      <div class="footer-subscribe col-md-3 col-sm-3">
        <h4>Our monthly news</h4>
        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
        <form class="footer-subsribe">
          <div class="input-group">
          <input class="form-control" type="text" placeholder="Email Address">
            <span class="input-group-btn">
              <button class="btn primary-btn -blue -sm" type="button">Subscribe</button>
            </span>
          </div>
        </form>
      </div> <!-- /.col-md-3  -->
      <div class="col-md-12 col-sm-12">
        <hr>
        <p class="text-center">©2018 Commerce Song, LLC. All Rights Reserved</p>
      </div> <!-- /.col-md-12  --> 
    </div> <!-- /.row -->
  </div>
</section>
