<section class="footer footer-4">
  <div class="container">
    <div class="row">
      <div class="footer-subscribe col-md-4 col-sm-4">
        <h4>Using ForgotPW</h4>
        <p>
          <a href="/app#pricing">Pricing</a><br/>
          <a href="#/">Protecting your privacy</a><br/>
          <a href="#/">Terms &amp; conditions</a><br/>
          <a href="#/">Delete your account</a>
        </p>
      </div> <!-- /.col-md-4  -->

      <div class="footer-address col-md-4 col-sm-4">
        <h4>Contact details</h4>
        <address>
        Email:
        <a class="" href="mailto:support@forgotpw.com">support@forgotpw.com</a>
        </address>
      </div> <!-- /.col-md-4  -->

      <div class="footer-about col-md-4 col-sm-4">
        <h4>About</h4>
        <p>Forgotpw is a service to help you keep different and secure
          passwords for each website and application you use, without
          requiring you to reveal your passwords to any third party,
          including us.</p>

        <p>Best of all there is no new username or password to forget
          with this service.  Password hints from ForgotPW can be
          retrieved only via text message on your cell phone.
        </p>
      </div> <!-- /.col-md-4  -->
            
      <div class="col-md-12 col-sm-12">
        <hr>
        <p class="text-center">©2018 Commerce Song, LLC. All Rights Reserved</p>
      </div> <!-- /.col-md-12  --> 
    </div> <!-- /.row -->
  </div>
</section>
