<div class="container">
  <mat-card>
    <div *ngIf="showLoading && !showError">
      <h2>Loading password ...</h2>
      <br/>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    
    <div *ngIf="!showError && !showLoading && !showdisappeared">
      <h2>Your password is:</h2>
      <div class="full-width">
        <input
        #passwordInput
        matInput
        value="{{secret}}"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false">
      </div>
      <div>
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="onCopy()">
          Copy
        </button>
      </div>

      <div>
        <h3>Your password will disappear in {{countdownValue}} seconds ...</h3>
        <mat-progress-bar mode="determinate" [value]="disappearProgressValue" ></mat-progress-bar>
      </div>

    </div>

    <div *ngIf="showdisappeared">
      <h2>Please close this window</h2>
      <h4>For security reasons we only display your password for {{countdownMax}} seconds</h4>
    </div>
    
    <div *ngIf="showError" class="error-box">
      <h2>
        <i class="material-icons warning">error</i>
        An error occurred processing your request!
      </h2>
      <h3>{{errorMessage}}</h3>
    </div>
  </mat-card>
</div>
