.auto-advance-inputs {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 0;
  justify-content: center;
  align-content: center
}

.auto-advance-inputs-input {
  background: #f8f8f8;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
  width: 32px;
  height: 40px;
  margin: 0 7px 10px 0;
  font-size: 28px;
  color: #464c4f;
  text-align: center
}

.auto-advance-inputs-input:focus {
  border: 2px solid #6da348;
  outline: 0
}

.auto-advance-inputs-dash {
  font-size: 30px;
  margin-right: 7px
}

.auto-advance-inputs-gap {
  margin-right: 30px
}

@-webkit-keyframes auto-advance-inputs-rotating {
  from {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@keyframes auto-advance-inputs-rotating {
  from {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

.auto-advance-inputs-spinner {
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-animation: auto-advance-inputs-rotating 1.3s linear infinite;
  animation: auto-advance-inputs-rotating 1.3s linear infinite
}

.auto-advance-inputs-check {
  vertical-align: middle;
  margin-left: 5px;
  margin: 10px;
  height: 20px;
  width: 20px
}
