<!-- prevent the browser from prompting to save the password -->
<div style="display:none">
    <input type="password" tabindex="-1"/>
</div>
<div *ngIf="!showSuccess && !showTips" class="container">
  <mat-card>
    <h2>Store a password</h2>
    <form
      [formGroup]="storeForm"
      #storeFormDirective="ngForm"
      (ngSubmit)="onSubmit()">

      <div *ngIf="!showCodeEntry">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
                Your mobile phone number which in the future we can text you this password to.
            </div>
            <div class="col-sm-8">
              <mat-form-field class="full-width">
                <input
                  #phoneInput
                  matInput
                  placeholder="Your mobile phone number" 
                  formControlName="phone"
                  autocomplete="off"
                  autofocus
                  >
                <mat-hint></mat-hint>
                <mat-error *ngIf="f.phone.hasError('minlength') && !f.phone.hasError('required')">
                  Must be at lest 10 charcters
                </mat-error>
                <mat-error *ngIf="f.phone.hasError('required')">
                  Mobile phone number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
    
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
                The application you're storing the password for. This could be a website (e.g. Amazon.com), an app (e.g. Slack, Skype), or the target of anything you may store a secret for (e.g. my gym locker combo).
            </div>
            <div class="col-sm-8">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Application" 
                  formControlName="application"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false">
                <mat-hint></mat-hint>
                <mat-error *ngIf="f.application.hasError('minlength') && !f.application.hasError('required')">
                  Must be at lest 3 charcters
                </mat-error>
                <mat-error *ngIf="f.application.hasError('maxlength')">
                    Can be mo more than 100 charcters
                </mat-error>
                <mat-error *ngIf="f.application.hasError('required')">
                  Application is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
                Your password.  <a (click)="onClickTips()">Recommended usage for making this more secure.</a>
            </div>
            <div class="col-sm-8">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Password" 
                  formControlName="secret"
                  type="{{ hideTyping ? 'password' : 'text'}}"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false">
                <mat-hint></mat-hint>
                <mat-error *ngIf="f.secret.hasError('minlength') && !f.secret.hasError('required')">
                  Must be at lest 3 charcters
                </mat-error>
                <mat-error *ngIf="f.secret.hasError('maxlength')">
                    Can be mo more than 100 charcters
                </mat-error>
                <mat-error *ngIf="f.secret.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div> <!-- !showCodeEntry -->
    
      <div class="button-row">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="!storeForm.valid">
          Submit
        </button>
        <button
          mat-stroked-button
          type="button"
          color="basic"
          (click)="onCancel()">
          Cancel
        </button>
        <mat-checkbox
          *ngIf="!showCodeEntry"
          (change)="onHideTypingChange($event)">Hide typing</mat-checkbox>
      </div>

      <div *ngIf="showCodeLoading" style="text-align:center">
          <br/>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

    </form>

    <div *ngIf="showInvalidCode">
      <h3>
        <i class="material-icons warning">warning</i>
        Code entered is not valid or expired!
      </h3>
      <a (click)="onRequestNewCode()">Request another code</a>
    </div>  

    <div *ngIf="showCodeEntry">
        <br/>
        <app-code-entry
          #codeEntry
          (codeEntered)="onCodeEntered($event)"
        ></app-code-entry>
    </div>

    <div *ngIf="showError">
      <h3>
        <i class="material-icons warning">error</i>
        An error occurred processing your request!
      </h3>
      <p>{{errorMessage}}</p>
    </div>
  
  </mat-card>
</div>


<div *ngIf="showSuccess" style="text-align:center">
  <p>
    <img src="assets/img/lock.svg" class="main-icon" />
    <br/><br/>
    <strong>Your password has been stored.</strong>
  </p>
  <br/>
</div>

<div *ngIf="showTips" style="text-align:center">
  <button
    mat-stroked-button
    type="button"
    color="basic"
    (click)="onCloseTips()">
    Back
  </button>
  <app-recommended-usage></app-recommended-usage>
  <button
    mat-stroked-button
    type="button"
    color="basic"
    (click)="onCloseTips()">
    Back
  </button>
  <br/><br/>
</div>
