<!-- prevent the browser from prompting to save the password -->
<div style="display:none">
    <input type="password" tabindex="-1"/>
</div>
<div *ngIf="!showSuccess" class="container">
  <mat-card>
    <h2>Store a password part</h2>
    <form
      [formGroup]="storeForm"
      #storeFormDirective="ngForm"
      (ngSubmit)="onSubmit()">

      <div *ngIf="!showCodeEntry">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
                Enter the website or application name for which you are storing the password part, e.g. "Amazon".
            </div>
            <div class="col-sm-8">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Website / application" 
                  formControlName="application"
                  autocomplete="off"
                  autofocus>
                <mat-hint></mat-hint>
                <mat-error *ngIf="f.application.hasError('minlength') && !f.application.hasError('required')">
                  Must be at lest 3 charcters
                </mat-error>
                <mat-error *ngIf="f.application.hasError('maxlength')">
                    Can be mo more than 100 charcters
                </mat-error>
                <mat-error *ngIf="f.application.hasError('required')">
                  Website / application is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
                Do <strong>NOT</strong> give us your full password, just the first part (keep the common part to yourself!).
            </div>
            <div class="col-sm-8">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Password part" 
                  formControlName="secret"
                  type="{{ hideTyping ? 'password' : 'text'}}"
                  autocomplete="off">
                <mat-hint></mat-hint>
                <mat-error *ngIf="f.secret.hasError('minlength') && !f.secret.hasError('required')">
                  Must be at lest 3 charcters
                </mat-error>
                <mat-error *ngIf="f.secret.hasError('maxlength')">
                    Can be mo more than 100 charcters
                </mat-error>
                <mat-error *ngIf="f.secret.hasError('required')">
                  Password part is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
                Your cell phone number which in the future we can text you this password hint to.
            </div>
            <div class="col-sm-8">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Your cell phone number" 
                  formControlName="phone"
                  autocomplete="off"
                  (keydown)="onPhoneKeydown($event)"
                  >
                <mat-hint></mat-hint>
                <mat-error *ngIf="f.phone.hasError('minlength') && !f.phone.hasError('required')">
                  Must be at lest 10 charcters
                </mat-error>
                <mat-error *ngIf="f.phone.hasError('required')">
                  Cell phone number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div> <!-- !showCodeEntry -->
    
      <div class="button-row">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="!storeForm.valid">
          Submit
        </button>
        <button
          mat-stroked-button
          type="button"
          color="basic"
          (click)="onCancel()">
          Cancel
        </button>
        <mat-checkbox
          *ngIf="!showCodeEntry"
          (change)="onHideTypingChange($event)">Hide typing</mat-checkbox>
      </div>

      <div *ngIf="showCodeLoading" style="text-align:center">
          <br/>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

    </form>

    <div *ngIf="showInvalidCode">
      <h3>
        <i class="material-icons warning">warning</i>
        Code entered is not valid or expired!
      </h3>
      <a (click)="onRequestNewCode()">Request another code</a>
    </div>  

    <div *ngIf="showCodeEntry">
        <br/>
        <app-code-entry
          #codeEntry
          (codeEntered)="onCodeEntered($event)"
        ></app-code-entry>
    </div>

    <div *ngIf="showError">
      <h3>
        <i class="material-icons warning">error</i>
        An error occurred processing your request!
      </h3>
      <p>{{errorMessage}}</p>
    </div>
  
  </mat-card>
</div>


<div *ngIf="showSuccess" style="text-align:center">
  <p>
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
      <strong>Your password part has been stored.</strong>
  </p>
  <br/>
</div>
  