<!-- prevent the browser from prompting to save the password -->
<div style="display:none">
  <input type="password" tabindex="-1"/>
</div>
<div *ngIf="!showSuccess && !showTips && !showError" class="container">
<mat-card>
  <h2>Store a password</h2>
  <form
    [formGroup]="storeForm"
    #storeFormDirective="ngForm"
    (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="full-width">
        <div *ngIf="isFirstTime" class="first-time">
          Since this is your first time, take 1 minute to read: &nbsp; <a (click)="onClickTips()">How to use this</a>
        </div>
        <a *ngIf="!isFirstTime" (click)="onClickTips()">How to use this</a>
        <br><br>
        <mat-form-field class="full-width">
          <input
            #secretInput
            matInput
            placeholder="Password" 
            formControlName="secret"
            type="{{ hideTyping ? 'password' : 'text'}}"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false">
          <mat-hint></mat-hint>
          <mat-error *ngIf="f.secret.hasError('minlength') && !f.secret.hasError('required')">
            Must be at lest 3 charcters
          </mat-error>
          <mat-error *ngIf="f.secret.hasError('maxlength')">
              Can be mo more than 100 charcters
          </mat-error>
          <mat-error *ngIf="f.secret.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="button-row">
      <button
        mat-stroked-button
        type="button"
        color="basic"
        (click)="onAutogenerate()">
          Auto-generate Password
      </button>
      <button
        mat-stroked-button
        type="submit"
        color="primary"
        [disabled]="!storeForm.valid">
        Submit
      </button>
      <mat-checkbox
        *ngIf="!showCodeEntry"
        (change)="onHideTypingChange($event)">Hide typing</mat-checkbox>
    </div>

    <div *ngIf="false" style="text-align:center">
        <br/>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

  </form>
</mat-card>
</div>

<div *ngIf="showError" class="error-box">
  <h2>
    <i class="material-icons warning">error</i>
    An error occurred processing your request!
  </h2>
  <h3>{{errorMessage}}</h3>
</div>

<div *ngIf="showSuccess" class="container" style="text-align:center">
  <mat-card>
    <h2>Your password has been stored.</h2>
    <br/><br/>
    <img src="assets/img/lock.svg" class="main-icon" />
    <br/><br/>
    <h3>Please close this window.</h3>
    <br/>
  </mat-card>
</div>

<div *ngIf="showTips" style="text-align:center">
<button
  mat-stroked-button
  type="button"
  color="basic"
  (click)="onCloseTips()">
  Close
</button>
<app-recommended-usage></app-recommended-usage>
<button
  mat-stroked-button
  type="button"
  color="basic"
  (click)="onCloseTips()">
  Close
</button>
<br/><br/>
</div>
