.full-width {
    width: 100%;
    margin: 4px;
}
.button-row button,
.button-row a {
  margin-right: 8px;
}  
.material-icons.warning {
  font-size: 36px;
  margin: 3px;
  color: red;
}
.first-time {
  font-size: 18px;
  color: blue;
}
.first-time a {
  font-size: 18px;
  color: blue;
}
input {
  font-size:18px;
  padding:5px 5px 5px 5px;
}
.mat-form-field {
  font-size: 16px;
}
.mat-hint {
  font-size: 14px;
}
.main-icon {
  display: block;
  height:220px;
  margin:auto;
}
.error-box {
  text-align: center;
}
