<div style="text-align:center">
  <button 
    mat-stroked-button
    color="primary"
    routerLink="/store">
    Store a password hint
  </button>
  <br/>
  Store a password hint so you can send it to yourself as a text message later.
  <br/>
  <br/>
  <button
    mat-stroked-button
    color="primary"
    routerLink="/retrieve">
    Retrieve a password hint
  </button>
  <br/>
  Please text me my password hint now.
  <br/>
  <h3>FAQ</h3>
  <h4>Is this safe?</h4>
  We don't ask for your name, username, or real password.  We only only send SMS text
  messages upon request containing just the password hint requested, not
  the website it is for, or any other information.  Don't give us your
  real password, just a hint that only you will know.
  <h4>Why don't I have to log in?</h4>
  Your password hints are never displayed on the screen, the only way to
  extract them is by text message to your cell phone.  Likewise, to store
  a password hint you will have to confirm by text message to your phone
  that you originated the request.  This serves as a form of authentication
  instead of requiring yet one more password you're just going to forget.
  <h4>Can I remove all my stored password hints?</h4>
  Yes
  <h4>Are SMS text messages secure?</h4>
  SMS text messages, like email, are not inherently secure and can
  potentially be viewed in transit by a third party.  Because of this
  it is important that you use hints to something only you would know
  rather than storing your actual passwords with this service.
</div>
