<a id="recommended-usage"></a>
<section class="feature feature-1">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h2 class="heading text-center">How To Use This</h2>
        </div> <!-- .col-lg-12 -->
        <div class="col-lg-12">
          <h3>
            Do: Use words you can easily type, like:<br>
            <b>happykittens</b>
          </h3>
          <h3>
            Don't: Use random characters that are very hard to type:<br>
            <b>8r940ufHzieJJsqdW3io</b>
          </h3>
            Remember that you can only retrieve your passwords via text message, so you can only view them on your phone.  If you need to type in a password on your desktop computer, you won't be able to copy/paste, so you'll be viewing the password on your phone and typing it into your computer, so use words or phrases you can easily type rather than random characters.  Don't add numbers, upper case letters, and special characters here (keep reading!).
          <h3>
            Do: Have a common string of special characters you will add to the end of every password (but don't tell us).<br>
            <b>happykittens11AA!!</b>
          </h3>
          11AA!! is the common password you memorize and add to the end of all of your passwords but don't tell us.  So your password to Amazon might be happykittens11AA!! and your password to Walmart might be eastereggs11AA!!.  You store just happykittens and eastereggs with us.  The common portion you memorize should also cover the numbers, upper case letters and special character requirements that most sites have.
          <br><br>
          <div style="text-align: center">
            <img src="assets/img/example-usage.svg" alt="Common password example" height="200"/>
          </div>
          <br><br>
          <b>Choose your common password carefully!</b> For this system to work this is not something you can frequently change.
        </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
