<a id="pricing"></a>
<section class="feature feature-1 text-center">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 class="heading text-center">Pricing</h2>
      </div> <!-- .col-lg-12 -->
  
      <div class="col-lg-12">
        <h3 class="sub-heading">Store as many passwords as you want free forever</h3>
        <p>There is never any cost to store as many passwords as you like, we'll
          keep them stored securely forever, or as long as you'd like us to (you
          can delete your entire account at any time to permanently remove all
          your data).</p>
      </div>

      <div class="col-lg-12">
        <h3 class="sub-heading">Your first 100 password retrievals are free, plus 3 retrievals per month forever</h3>
        <p>After that, to continue using ForgotPW pay just $2 per month (billed $24 annually)
          for an unlimited use plan.
        </p>
      </div>

      <div class="col-lg-12">
        <h3 class="sub-heading">No credit card required to start</h3>
        <p>In fact we don't even need your name or email address.  Our system
          works entirely by using your mobile phone as a means of identification
          and authentication.  Use our system entirely free without providing any
          payment information for the first 100 password retrievals and up
          to 3 retrievals per month free forever.  If after that you need
          more than 3 password retrievals per month you can provide your
          payment information at that time for an unlimited use paid plan.
        </p>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
