<!-- prevent the browser from prompting to save the password -->
<div style="display:none">
  <input type="password" tabindex="-1"/>
</div>
<div *ngIf="!showSuccess && !showTips && !showError" class="container">
<mat-card>
  <h2>Store a password</h2>
  <form
    [formGroup]="storeForm"
    #storeFormDirective="ngForm"
    (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
            Your password.  <a (click)="onClickTips()">Recommended usage for making this more secure.</a>
        </div>
        <div class="col-sm-8">
          <mat-form-field class="full-width">
            <input
              #secretInput
              matInput
              placeholder="Password" 
              formControlName="secret"
              type="{{ hideTyping ? 'password' : 'text'}}"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false">
            <mat-hint></mat-hint>
            <mat-error *ngIf="f.secret.hasError('minlength') && !f.secret.hasError('required')">
              Must be at lest 3 charcters
            </mat-error>
            <mat-error *ngIf="f.secret.hasError('maxlength')">
                Can be mo more than 100 charcters
            </mat-error>
            <mat-error *ngIf="f.secret.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="button-row">
      <button
        mat-stroked-button
        type="submit"
        color="primary"
        [disabled]="!storeForm.valid">
        Submit
      </button>
      <button
        mat-stroked-button
        type="button"
        color="basic"
        (click)="onCancel()">
        Cancel
      </button>
      <mat-checkbox
        *ngIf="!showCodeEntry"
        (change)="onHideTypingChange($event)">Hide typing</mat-checkbox>
    </div>

    <div *ngIf="false" style="text-align:center">
        <br/>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

  </form>
</mat-card>
</div>

<div *ngIf="showError" class="error-box">
  <h3>
    <i class="material-icons warning">error</i>
    An error occurred processing your request!
  </h3>
  <h4>{{errorMessage}}</h4>
</div>

<div *ngIf="showSuccess" style="text-align:center">
<p>
  <img src="assets/img/lock.svg" class="main-icon" />
  <br/><br/>
  <strong>Your password has been stored.</strong>
  <br/><br/>
  <strong>Please close this window.</strong>
</p>
<br/>
</div>

<div *ngIf="showTips" style="text-align:center">
<button
  mat-stroked-button
  type="button"
  color="basic"
  (click)="onCloseTips()">
  Back
</button>
<app-recommended-usage></app-recommended-usage>
<button
  mat-stroked-button
  type="button"
  color="basic"
  (click)="onCloseTips()">
  Back
</button>
<br/><br/>
</div>
