<div *ngIf="!showSuccess" class="container">
  <mat-card>
    <h2>Retrieve a password hint</h2>
    <form
      [formGroup]="retrieveForm"
      #retrieveFormDirective="ngForm"
      (ngSubmit)="onSubmit(retrieveFormDirective)">

      <div class="form-group">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Website / application" 
            formControlName="application"
            autocomplete="off"
            autofocus>
          <mat-hint>Enter the website or application name for which you are retrieving the password hint, e.g. "Amazon".</mat-hint>
          <mat-error *ngIf="f.application.hasError('minlength') && !f.application.hasError('required')">
            Must be at lest 3 charcters
          </mat-error>
          <mat-error *ngIf="f.application.hasError('maxlength')">
              Can be mo more than 100 charcters
          </mat-error>
          <mat-error *ngIf="f.application.hasError('required')">
            Website / application is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="form-group">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Your cell phone number" 
            formControlName="phone"
            autocomplete="off">
          <mat-hint>The cell phone number you used to store this password hint, which is where the text message will be sent to.</mat-hint>
          <mat-error *ngIf="f.phone.hasError('minlength') && !f.phone.hasError('required')">
            Must be at lest 10 charcters
          </mat-error>
          <mat-error *ngIf="f.phone.hasError('required')">
            Cell phone number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="button-row">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="!retrieveForm.valid">
          Submit
        </button>
        <button
          mat-stroked-button
          type="button"
          color="basic"
          (click)="onCancel()">
          Cancel
        </button>
      </div>

      <ngx-spinner
        bdColor = "rgba(51, 51, 51, 0.8)"
        size = "large"
        color = "#fff"
        type = "ball-pulse">
      </ngx-spinner>

    </form>
  </mat-card>
</div>

<div *ngIf="showSuccess" style="text-align:center">
  <p>
    <img src="assets/img/Comments-1s-200px.svg">
    <br/>
    <strong>Your password hint has been sent to you by SMS text message.</strong>
  </p>
  <br/>
</div>
  