<div class="container">
  <form (ngSubmit)="onSubmit()" #pwhintStoreForm="ngForm">
    <div class="form-group">
      <label for="application">Website / application</label>
      <input type="text" class="form-control" id="application"
             required
             [(ngModel)]="model.application" name="application"
             #application="ngModel">
      <div [hidden]="application.valid || application.pristine"
             class="alert alert-danger">
          Website / application is required
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Your cell phone number</label>
      <input type="text" class="form-control" id="phoneNumber"
             required
             [(ngModel)]="model.phoneNumber" name="phoneNumber"
             #phoneNumber="ngModel">
      <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
             class="alert alert-danger">
          Cell phone number is required
      </div>
    </div>

    <div class="form-group">
      <label for="hint">Password hint</label>
      <input type="text" class="form-control" id="hint"
             required
             [(ngModel)]="model.hint" name="hint"
             #hint="ngModel">
      <div [hidden]="hint.valid || hint.pristine"
             class="alert alert-danger">
          Password hint is required
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
