<div class="container">
  <form (ngSubmit)="onSubmit()" #pwhintStoreForm="ngForm">
    <div class="form-group">
      <label for="application">Website / application</label>
      <input type="text" class="form-control" id="application"
             autocomplete="off"
             required
             [(ngModel)]="model.application" name="application"
             #application="ngModel">
      <div [hidden]="application.valid || application.pristine"
             class="alert alert-danger">
          Website / application is required
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Your cell phone number</label>
      <input type="text" class="form-control" id="phone"
             autocomplete="off"
             required
             [(ngModel)]="model.phone" name="phone"
             #phone="ngModel">
      <div [hidden]="phone.valid || phone.pristine"
             class="alert alert-danger">
          Cell phone number is required
      </div>
    </div>

    <div class="form-group">
      <label for="hint">Password hint</label>
      <input type="text" class="form-control" id="hint"
             autocomplete="off"
             required
             [(ngModel)]="model.hint" name="hint"
             #hint="ngModel">
      <div [hidden]="hint.valid || hint.pristine"
             class="alert alert-danger">
          Password hint is required
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

    <ngx-spinner
      bdColor = "rgba(51, 51, 51, 0.8)"
      size = "large"
      color = "#fff"
      type = "ball-pulse">
    </ngx-spinner>

  </form>
</div>
