<div class="container">
  <form (ngSubmit)="onSubmit()" #pwhintStoreForm="ngForm">

    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Website / application" 
                [formControl]="applicationFormControl"
                autocomplete="off">
        <mat-hint>Enter the website or application name for which you are storing the password hint, e.g. "Amazon".</mat-hint>
        <mat-error *ngIf="applicationFormControl.hasError('minlength') && !applicationFormControl.hasError('required')">
          Must be at lest 3 charcters
        </mat-error>
        <mat-error *ngIf="applicationFormControl.hasError('maxlength')">
            Can be mo more than 100 charcters
        </mat-error>
        <mat-error *ngIf="applicationFormControl.hasError('required')">
          Website / application is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <div class="form-group">
      <label for="application">Website / application</label>
      <input type="text" class="form-control" id="application"
             autocomplete="off"
             required
             [(ngModel)]="model.application" name="application"
             #application="ngModel">
      <div [hidden]="application.valid || application.pristine"
             class="alert alert-danger">
          Website / application is required
      </div>
    </div> -->

    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Your cell phone number" 
                [formControl]="phoneFormControl"
                autocomplete="off">
        <mat-hint>Your cell phone number which in the future we can text you this password hint to.</mat-hint>
        <mat-error *ngIf="phoneFormControl.hasError('minlength') && !phoneFormControl.hasError('required')">
          Must be at lest 10 charcters
        </mat-error>
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          Cell phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- <div class="form-group">
      <label for="phone">Your cell phone number</label>
      <input type="text" class="form-control" id="phone"
             autocomplete="off"
             required
             [(ngModel)]="model.phone" name="phone"
             #phone="ngModel">
      <div [hidden]="phone.valid || phone.pristine"
             class="alert alert-danger">
          Cell phone number is required
      </div>
    </div> -->

    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Password hint" 
                [formControl]="hintFormControl"
                autocomplete="off">
        <mat-hint>A hint which will remind you of your password. Do <strong>not</strong> enter your actual password.</mat-hint>
        <mat-error *ngIf="hintFormControl.hasError('minlength') && !hintFormControl.hasError('required')">
          Must be at lest 3 charcters
        </mat-error>
        <mat-error *ngIf="hintFormControl.hasError('maxlength')">
            Can be mo more than 100 charcters
        </mat-error>
        <mat-error *ngIf="hintFormControl.hasError('required')">
          Password hint is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- <div class="form-group">
      <label for="hint">Password hint</label>
      <input type="text" class="form-control" id="hint"
             autocomplete="off"
             required
             [(ngModel)]="model.hint" name="hint"
             #hint="ngModel">
      <div [hidden]="hint.valid || hint.pristine"
             class="alert alert-danger">
          Password hint is required
      </div>
    </div> -->

    <button mat-stroked-button type="submit">Submit</button>

    <ngx-spinner
      bdColor = "rgba(51, 51, 51, 0.8)"
      size = "large"
      color = "#fff"
      type = "ball-pulse">
    </ngx-spinner>

  </form>
</div>
